body {
    background-image: url('bj.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.center {
    text-align: center;
}
.srk{
    border-radius:15px;
    box-shadow: 10px 10px 5px #8888887e;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.281);
}
.test{
    padding: 10px;
}
.qz{
    border-style: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.685);
}
.qz:focus{
    border-style: none;
    outline: none;
}
.qz:hover{
    border-style: none;
    outline: none;
}
.wb{
    border-style: none;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.685);
}
.wb:focus{ 
    border-style: none;
    outline: none;
}
.wb:hover{ 
    border-style: none;
    outline: none;
}
.sc{
    border-color: beige;
    border-style: none;
    border-radius: 10px;
    margin: auto;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.685);
}

.copy{
    border-style: none;
    border-radius: 3px;
    margin: auto;
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.685);
    /* 调整与上面border的距离 */
    margin-top: 10px;
}
.copy:hover{ 
    background-color: rgba(255, 255, 255, 0.5);
}
.copy:focus{ 
    background-color: rgba(255, 255, 255, 0.3);
}

.footer{ 
    /* 文字居中 */
    text-align: center;
    /* div居中 */
    margin: auto;
    /* 固定至底 */
    position: fixed;
    bottom: 0;
    /* 背景黑色 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 宽度 */
    width: 100%;
    /* 高度 */
    height: 80px;
    /* 透明度 */
    opacity: 0.5;
    /* 文字在div上下居中 */
    line-height: 15px;
    /* 文字颜色为白色 */
    color: white;
    /* 链接颜色也是白色 */
    a{ 
        color: white;
        text-decoration: none;
    }

}